@model IEnumerable<SistemaFacturaciones.Models.Producto>

<h2>Productos</h2>

@using (Html.BeginForm())
{
    <P>
        @Html.TextBox("query", "", htmlAttributes: new { @class = "form-control col-md-1" })
        <input type="submit" value="Buscar" class="btn btn-default" style="margin-left:5px;" />
    </P>
}

<table class="table table-striped table-bordered" id="invoice">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
        </tr>
    }

</table>
<button value="Buscar" class="btn btn-default" onclick="generatePDF()" style="float:right;">Generar PDF</button>
